<!DOCTYPE html>
<head>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/signup.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
        href="https://fonts.googleapis.com/css2?family=Alice&display=swap"
        rel="stylesheet"
      />
    <title>Accounting</title>

  </head>
  <header>
    <div class="wrapper">
      <span class="color"
        ><img class="logo" src="{% static '/images/logo.png' %}" alt="logo"
      /></span>

      <nav>
        <ul>
          <li><a href="../../profile">Home</a></li>
          <li><a href="../../logout/">Logout</a></li>
		  <li><a > {{user.username}}</a></li>
        </ul>
      </nav>
    </div>
  </header>
<hr>
  <div class="main">
    
    <form method="POST" class='form'>
      {% csrf_token %} 
      <input id='username' name='username' type='hidden' value={{user.username}}>
      <div class="heading" ><h1>Accounting</h1></div>
       <p class='field required error'>
        <label class='label required' for='Return_1'>
          Return 1 Due Date:</label>
        <input class='text-input' id='Return_1' name='Return_1' required type='date'>
      </p>
      <p><h2>................................................................................................</h2></p>

  
      <p class='field required error'>
       
        <label class='label required' for='Return_2'>
          Return 2 Due Date:
</label>
        <input class='text-input' id='Return_2' name='Return_2' required type='date'>
      </p>

    
      <p class='field required'></p>
      <p class='field required half'>
        <input class='button' type='submit' value='Submit'>
      </p>
     </form>
   </div>
  
   <footer>
  <hr>
    <div class="wrapper">
      <div id="footer-info">
        <p>Copyright 2020 Auto-Reminder-System. All rights reserved.</p>
        <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
      </div>
      <div id="footer-links">
        <ul>
          <p><h5>Company</h5></p>
          <li><a href="../../aboutus/">About Us</a></li>
          <li><a href="../../team/">Meet The Team</a></li>
       
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </footer>
   </body>
   </html>