<!DOCTYPE html>
<head>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/signup.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
        href="https://fonts.googleapis.com/css2?family=Alice&display=swap"
        rel="stylesheet"
      />
    <title>Login</title>

  </head>
  <header>
    <div class="wrapper">
      <span class="color"
        ><img class="logo" src="{% static '/images/logo.png' %}" alt="logo"
      /></span>

      <nav>
        <ul>
          <li><a href="..">Home</a></li>
          <li><a href="../signup">Sign Up</a></li>
        </ul>
      </nav>
    </div>
  </header>
<hr>
  <div class="main">
    <div class="heading"><h1>Login</h1></div>
    <form method="POST" class='form'>
      {% csrf_token %} 
      <p class='field required '>
        <label class='label required' for='email'>Email</label>
        <input class='text-input' id='email' name='email' required type='text'>
      </p>
      <p class='field required error'>
        <label class='label required' for='password'>Password</label>
        <input class='text-input' id='name' name='password' required type='password'>
      </p>
      
      <p class='field required half'>
        <input class='button' type='submit' value='Login'>
      </p>
     </form>
   </div>
  
   <footer>
  <hr>
    <div class="wrapper">
      <div id="footer-info">
        <p>Copyright 2020 Auto-Reminder-System. All rights reserved.</p>
        <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
      </div>
      <div id="footer-links">
        <ul>
          <p><h5>Company</h5></p>
          <li><a href="../../aboutus/">About Us</a></li>
          <li><a href="../../team/">Meet The Team</a></li>
       
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </footer>
   </body>
   </html>