<!DOCTYPE html>
<head>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/signup.css' %}">
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Register</title>

  </head>
  <body>
  <header>
    <div class="wrapper">
      <span class="color"
        ><img class="logo" src="{% static '/images/logo.png' %}" alt="logo"
      /></span>

      <nav>
        <ul>
          <li><a href="..">Home</a></li>
          <li><a href="../login">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>
<hr>
  <div class="main">
    <div class="heading"><h1>Create an Account</h1></div>
    <form method="POST" class='form' action="./">
      {% csrf_token %} 
      <p class='field required'>
        <label class='label required' for='username'>Username</label>
        <input class='text-input' id='name' name='username' required type='text'>
      </p>
      <p class='field required half'>
        <label class='label' for='firstname'>First Name</label>
        <input class='text-input' id='email' name='firstname' required type='text'>
      </p>
      <p class='field half required'>
        <label class='label' for='lastname'>Last Name</label>
        <input class='text-input' id='phone' name='lastname' required type='text'>
      </p>
      <p class='field required half'>
        <label class='label' for='email'>E-mail</label>
        <input class='text-input' id='email' name='email' required type='email'>
      </p>
      <p class='field half required'>
        <label class='label' for='phone'>Phone</label>
        <input class='text-input' id='phone' name='phone'  required type="text">
      </p>
      <p class='field half required error'>
        <label class='label' for='password'>Password</label>
        <input class='text-input' id='login' name='password' required type='password'>
      </p>
      <p class='field half required error'>
        <label class='label' for='repass'>Re-Password</label>
        <input class='text-input' id='password' name='repass' required type='password'>
      </p>
      <p class='field required half'>
        <label class='label' for='aadhar'>Aadhar Number</label>
        <input class='text-input' id='email' name='aadhar' required type='text'>
      </p>
      <p class='field half required'>
        <label class='label' for='gst'>GST</label>
        <input class='text-input' id='phone' name='gst' required type='text'>
      </p>
      <p class='field required'>
        <label class='label' for='pan'>Pan Number</label>
        <input class='text-input' id='email' name='pan' required type='text'>
      </p>
      
      <p class='field half'>
        <input class='button' type='submit' value='Send'>
      </p>
      
    </form>
  </div>
 
  <footer>
  <hr>
    <div class="wrapper">
      <div id="footer-info">
        <p>Copyright 2020 Auto-Reminder-System. All rights reserved.</p>
        <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
      </div>
      <div id="footer-links">
        <ul>
          <p><h5>Company</h5></p>
          <li><a href="../../aboutus/">About Us</a></li>
          <li><a href="../../team/">Meet The Team</a></li>
       
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </footer>

</body>
</html>