{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Reminder</title>
  
    <header>
      <div class="wrapper">
        <span class="color"
          ><img class="logo" src="{% static 'images\logo.png' %}" alt="logo"
        /></span>

        <nav>
          <ul>
            <li><a href="..">Home</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <hr>

    <body>
        <div id="primary-content">
            <div class="wrapper">
              <article>
                <h4 class="featured-cont">Our Team</h4>
                <p>

      <div class="cards" style="display: flex; justify-content: center;">
        <div class="card" style="width: 30%; height: 30%; ">
            <img src="{% static 'images/vaibhavsir.png' %}" alt="Avatar" style="width:100%;">
            <div class="container">
              <h4><b>Vaibhav Vasani</b></h4>
              <p>Professor at KJSCE</p>
            </div>
          </div>
      </div>

      <hr>
      <div class="cards">
                  <div class="card">
                    <img src="{% static 'images/aditya.png' %}" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h4><b>Aditya Tawade</b></h4>
                      <p>Student at KJSCE</p>
                      <p>SY-COMPS 2019-2023</p>
                    </div>
                  </div>
      
                  <div class="card">
                    <img src="{% static 'images/sanket.png' %}" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h4><b>Sanket Saboo</b></h4>
                      <p>Student at KJSCE</p>
                      <p>SY-COMPS 2019-2023</p>
                    </div>
                  </div>
      
                  <div class="card">
                    <img src="{% static 'images/omk.png' %}" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h4><b>Omkar Sawant</b></h4>
                      <p>Student at KJSCE</p>
                      <p>SY-COMPS 2019-2023</p>
                    </div>
                  </div>
                  </div>
                

                  <div class="wrapper">
                    <div class="cards">

                      
                  <div class="card">
                    <img src="{% static 'images/jigar.png' %}" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h4><b>Jigar Joshi</b></h4>
                      <p>Student at KJSCE</p>
                      <p>TY-COMPS 2018-2022</p>
                    </div>
                  </div>

                  <div class="card">
                    <img src="{% static 'images/ansh.png' %}" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h4><b>Ansh Jain</b></h4>
                      <p>Student at KJSCE</p>
                      <p>TY-COMPS 2018-2022</p>
                    </div>
                  </div>

                  

                  <div class="card" style="width :65%">
                    <img src="{% static 'images/anchal.png' %}" alt="Avatar" style="width:100%; height: 63%;">
                    <div class="container">
                      <h4><b>Anchal Jain</b></h4>
                      <p>Student at KJSCE</p>
                      <p>TY-COMPS 2018-2022</p>
                    </div>
                  </div>

                

                </div>
                </p>
              </article>
            </div>
          </div>
    </body>

    <hr>
    <footer>
  
      <div class="wrapper">
        <div id="footer-info">
          <p>Copyright 2020 Auto-Reminder-System. All rights reserved.</p>
          <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
        </div>
        <div id="footer-links">
          <ul>
            <p><h5>Company</h5></p>
            <li><a href="../../aboutus/">About Us</a></li>
            <li><a href="../../team/">Meet The Team</a></li>
       
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </footer>